@charset "Utf-8";
body{
    background-color: black;
    font-family: sans-serif;
    font-style: normal;
   
}
#opcoes{
    text-decoration: none;
}
h1{
    font-size: larger;
}
.redessociais{
    text-align: right;
}