@charset "Utf-8";


body{
   background-image: url();
   background-size:contain;
   
    font-family: sans-serif;
    font-style:normal;
text-align: center;
color:mediumblue;
font-size: 20px;

}
h2 {
    text-align: left;

}
footer{
    font-size: 15px;
    text-align: center;
}
p{
    text-align:center;
}
